@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  /* colors */
  --primary-color-green: hsl(75, 94%, 57%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-grey: hsl(0, 0%, 20%);
  --neutral-color-dark-grey: hsl(0, 0%, 12%);
  --neutral-color-off-black: hsl(0, 0%, 8%);
}

html {
  font-size: 14px;
}
