@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  /* colors */
  --primary-color-green: hsl(75, 94%, 57%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-grey: hsl(0, 0%, 20%);
  --neutral-color-dark-grey: hsl(0, 0%, 12%);
  --neutral-color-off-black: hsl(0, 0%, 8%);
}

html {
  font-size: 14px;
}

body {
  background-color: var(--neutral-color-off-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Card styling */
.card-container {
  color: var(--neutral-color-white);
  background-color: var(--neutral-color-dark-grey);
  display: flex;
  flex-direction: column;
  border-radius: 12px;

}

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-bottom: 12px;
}

.profile-picture {
  border-radius: 100px;
  width: 88px;
  height: 88px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 4px;
}

.location {
  color: var(--primary-color-green);
  font-weight: 700;
  margin-bottom: 15px;
}

.bio {
  font-weight: 400;
}

.links-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px;
  padding-top: 12px;
}

.links-container li {
  display: flex;
  cursor: pointer;
  background-color: var(--neutral-color-grey);
  border: none;
  border-radius: 8px;
  text-align: center;
}

.links-container a {
  width: 100%;
  text-decoration: none;
  font-weight: 700;
  padding: 12px;
  color: var(--neutral-color-white);
}

.links-container a:hover {
  background-color: var(--primary-color-green);
  color: var(--neutral-color-grey) !important;
  border-radius: 8px;
  transition: background-color .6s ease-in-out;
}

/* Footer styling */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  color: var(--neutral-color-white);
  background-color: var(--neutral-color-grey);
}

footer a {
  text-decoration: none;
  color: var(--primary-color-green);
}

footer a:hover {
  text-decoration: underline;
}
